<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body style="background-color: #f5f5f5">
	<!-- header logo + search -->
	<nav class="navbar navbar-default" style="background-color: #d69cb0;">
		
		<div class="container-fluid" style="padding-left: 25px;">
			<a href="#" class="navbar-brand" style="color: #c83349;">
				<img src="assets/img/logo.jpg" width="60" height="60" class="d-inline-block align-center" alt="">
				MAKEUPBLISS.ID
			</a>
			<form class="form-inline">
		    	<input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
		    	<button class="btn btn-outline-light" type="button">Search</button>
			</form>
		</div>
	</nav>
	

	 <!-- navbar -->
	<nav class="navbar navbar-collapse" style="background-color: #F8BBD0;">
		<ul class="navmainlist" style="">
			  <li class="navlist"><a href="#">Home</a></li>
			  <li class="navlist"><a href="#">About</a></li>
		</ul>
		<ul class="navmainlist">
			<li class="navlistright"><a href="#">Register</a></li>
			<li class="navlistright"><a href="login.html">Login</a></li>
		</ul>
	</nav>

	<br>

	<!-- isi -->
	<div class="container">
		<div class="jumbotron" style="background-color: #F8BBD0;">
			<center>
				<h5>Masuk ke Toko Kami!</h5>
				<hr>
			</center>
				<form action="#">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-1">
								Username
							</div>
							<div class="col-md-3">
								<input class="form-control1" type="text" name="username" id="username" width="150%">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-1">
								Password
							</div>
							<div class="col-md-3">
								<input type="password" class="form-control1" name="password" id="password">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-1">
								Email
							</div>
							<div class="col-md-3">
								<input class="form-control1" type="text" name="email" id="email" width="150%">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-1">
								No. HP
							</div>
							<div class="col-md-3">
								<input class="form-control1" type="tel" name="hp" id="hp" width="150%">
							</div>
						</div>
						<br>
						
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-1">
								Alamat
							</div>
							<div class="col-md-3">
								<textarea class="form-control1" name="address" id="" cols="31" rows="5"></textarea>
								<!-- <input class="form-control1" type="" name="alamat" id="alamat" width="150%"> -->
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6">
							</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-danger" style="width: 63%">Register</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
							</div>
							<div class="col-md-3 tanya">
								<a href="#">
									<small class="form-text">Sudah punya akun? Masuk Sekarang!</small>
								</a>
							</div>
						</div>
					</div>
				</form>
		</div>
	</div>
</body>
</html>